.header {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	.header-item {
		font-size: 0.36rem;
		font-weight: 500;
		margin-right: 0.2rem;
	}
	.active {
		color: peru;
	}
}
